:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  outline: transparent;
}

body {
  background: url("../images/underwater.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contact-wrapper {
  width: 70%;
  margin: 5px 0;
}

body .contact-wrapper .contact-form {
  margin: 10% 0;
  background: rgba(255, 255, 255, 0.251);
  -webkit-box-shadow: 0 8px 32px 0 #1f26875e;
          box-shadow: 0 8px 32px 0 #1f26875e;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid #ffffff2e;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

body .contact-wrapper .contact-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  margin: 10px;
}

body .contact-wrapper .contact-form div input,
body .contact-wrapper .contact-form div .contact-form__problem {
  border: none;
  border-radius: 0 0 10px 10px;
  background: rgba(255, 255, 255, 0.251);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  line-height: 2.3;
}

body .contact-wrapper .contact-form div input::-webkit-input-placeholder,
body .contact-wrapper .contact-form div textarea::-webkit-input-placeholder {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

body .contact-wrapper .contact-form div input:-ms-input-placeholder,
body .contact-wrapper .contact-form div textarea:-ms-input-placeholder {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

body .contact-wrapper .contact-form div input::-ms-input-placeholder,
body .contact-wrapper .contact-form div textarea::-ms-input-placeholder {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

body .contact-wrapper .contact-form div input::placeholder,
body .contact-wrapper .contact-form div textarea::placeholder {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

body .contact-wrapper .contact-form .contact-form__problem {
  resize: vertical;
}

body .contact-wrapper .contact-form .contact-form__submit {
  background: #060128a6;
  color: #ffffff;
  padding: 5px 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  letter-spacing: 5px;
  margin: 0 0 5px 0;
}

body .contact-wrapper .contact-form .contact-form__submit:hover {
  background: #ffffff;
  color: #060128a6;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  body .contact-wrapper {
    width: 95%;
  }
  body .contact-wrapper .contact-form div {
    width: 80%;
  }
}

@supports not ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  body .contact-wrapper .contact-form div {
    border-radius: 10px;
  }
  body .contact-wrapper .contact-form div .contact-form__label {
    border-radius: 10px 10px 0 0;
    background: #65a0c2;
  }
  body .contact-wrapper .contact-form div .contact-form__captcha {
    background: #65a0c2;
  }
}
/*# sourceMappingURL=style.css.map */